body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.app {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd;
}

.styled-table thead tr {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4CAF50;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Image {
    position: relative;
    display: flex;
   
    margin-right: 0px;
    left: 600px;
    
}

.device-info {
    position: relative;
    margin-top: 10px;
    text-align: left; /* Align text to the right */
    margin-right: 0px;
    left: 510px;
}
