body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

header {
    display: flex;
    align-items: center; 
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    width: 300px;
    margin-right: 10px;
}

h1 {
    font-size: 24px;
    color: #007bff;
    flex-grow: 1;
}

.logout {
    background-color: #ffffff;
    position: relative;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    left: 1020px;
    
}

.actions {
    margin: 80px 0 20px 0; /* Add margin to offset fixed header */
    position: relative;
    top: 30px;
    left: 20px;
    display: flex;
    width: 720px;
    justify-content: space-around;
}

.action-button {
    width: 165px; /* Adjust width as needed */
    height: 40px;
    padding: 10px;
    border: 1px solid #5fa0e6; /* Blue border */
    border-radius: 5px; /* Rounded corners */
    background-color: #476dcd; /* Light blue background */
    color: #f3f7fa; /* Dark blue text */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.action-button:hover {
    background-color: #1b52d0;
}


.dropdown {
    padding-right: 40px;
    position: relative;
    width: 200px;
    
}

.dropdown::after {
    content: '\25BC';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: background-color 0.3s ease;
}
.device-dropdown:hover{
  background-color: #1b52d0;
}



.output-status{
    position: relative;
    left: 30px;
    font-size: 15;

}

.main-content {
    display: flex;
    flex-grow: 1;
    padding: 0 10px;
}

.scanner-info {
    
    padding-right: 20px;
    position: relative;
    top: 50px;
    left:20px
}

.canvas-image {

    position: relative;
    left: 50px;
}
.scanner-info2 {
    
    padding-right: 20px;
    position: relative;
    top: 250px;
   
}

.scanner-info ul {
    list-style: none;
    padding: 0;
    line-height: 1.6;
}


.scanner-info2 ul {
    list-style: none;
    padding: 0;
    line-height: 1.6;
}

.barcode-section {
  
    padding-left: 20px;
    position: relative;
    top: 50px;
    left: 300px;
    
}

.barcode-area{
    width: 550px;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rsm-section{

    padding-left: 20px;
    position: relative;
    top: 100px;
    left: 300px;

}




label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #959db0;
    color: white;
}

.rsm-actions {
    display: flex;
    
   gap: 10px;
    left: 0px;
}


.set-button{
    position: relative;
    left: 180px;

    width: 100px; /* Adjust width as needed */
    height: 35px;
   
    border: 1px solid #5e7bc4   ; /* Blue border */
    border-radius: 5px; /* Rounded corners */
    background-color: #5e7bc4; /* Light blue background */
    color: #f2f8fb; /* Dark blue text */
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.set-button:hover{
    background-color: #587ef0;
    color: #f2f8fb;


}


.get-button{

    width: 100px; /* Adjust width as needed */
    height: 35px;
    padding: 10px;
    border: 1px solid #5e7bc4; /* Blue border */
    border-radius: 5px; /* Rounded corners */
    background-color: #5e7bc4; /* Light blue background */
    color: #f3f6f8; /* Dark blue text */
    font-size: 12px;
    cursor: pointer;
    
    
}

.get-button:hover{
    background-color: #587ef0;
    color: #f2f8fb;


}
 

footer {
    text-align: center;
    padding: 10px 20px;
    border-top: 2px solid #ccc;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    color: #007bff;
}


select {
    width: 200px; /* Adjust width as needed */
    height: 40px;
    padding: 10px;
    border: 1px solid #007BFF; /* Blue border */
    border-radius: 5px; /* Rounded corners */
    background-color: #476dcd; /* Light blue background */
    color: #f3f5f6; /* Dark blue text */
    font-size: 16px;
    cursor: pointer;


  }.output-status{
    font-size: 15;
    color: #007BFF;
  }
  
  select:focus {
    border-color: #0056b3; /* Darker blue when focused */
    outline: none;
  }
  
  option {
    background-color: #E3F2FD; /* Match the dropdown background */
    color: #0277BD; /* Match the text color */
  }
  